TravelIt-ejb/src/wsdl/localhost_8082/conjuntaprimer-web/AlumnoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.conjunta.arquitectura.teamj.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.conjunta.arquitectura.teamj.com/">

<xs:element name="listarAlumnos" type="tns:listarAlumnos"/>

<xs:element name="listarAlumnosResponse" type="tns:listarAlumnosResponse"/>

<xs:element name="registrarAlumno" type="tns:registrarAlumno"/>

<xs:element name="registrarAlumnoResponse" type="tns:registrarAlumnoResponse"/>

<xs:complexType name="registrarAlumno">
<xs:sequence>
<xs:element name="alumno" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="estatura" type="xs:decimal" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarAlumnoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarAlumnos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarAlumnosResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>